nav {
    background-color: #607d8b;
}

.btn {
    background-color: #607d8b;
}
.page-footer {
    background-color: #fff;
}
.page-footer .footer-copyright {
    color: #000;
}

nav .brand-logo { 
    margin-left: 5px;
    font-size: 1.9rem;
}

.presentation-container {
    background-color: #eeeeee;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation-img {
    align-self: center;
    width: 200px;
    height: 200px;
}

.projects {
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .card-image .card-title {
    color: gray;
}

@media (min-width: 1024px){
.presentation-container {
    margin-top: 20px;
    flex-direction: row;
}

.presentation {
    margin-left: 30px;
    font-size: 20px;
}

.presentation-img {
    margin-left: 10px;
    width: 300px;
    height: 300px;
}
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-links .btn {
    margin: 0 5px;    
}